@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 235, 224);
}

.container {
  width: 90%;
  font-family: "Lato", sans-serif;
  margin: auto;
}

.navbar {
  display: flex;
  height: 67px;
}
.navbar li {
  list-style: none;
  margin: 0 12px;
}

.section1 {
  color: #711e15;
  height: 100%;
  padding: 30px 0;
}

.section1 h1 {
  color: #37110d;
  font-size: clamp(1.5rem, 3vw, 3.5rem);
}
.section1 p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 5px 0;
  margin: 10px 0;
  text-align: justify;
  text-align-last: center;
}

.dumbellimg {
  width: 85%;
  filter: drop-shadow(3px 3px 7px rgb(96, 96, 96));
}

.topright .gymimg {
  width: 80%;
  margin: auto;
  height: auto;
  filter: drop-shadow(5px 5px 5px black);
}

.section2 {
  padding: 73px 0;
  height: 100%;
}

.section2 h1 {
  font-size: clamp(2rem, 4vw, 4rem);
}

.section2 p {
  text-align: justify;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 5px 0;
  margin: 10px 0;
  text-align-last: center;
}

.box {
  padding: 8px 10px;
  margin: 12px 22px;
  min-width: 25vw;
  border: 2px solid rgb(120, 54, 16);
  border-radius: 8px;
  text-align: center;
}

.box h2 {
  font-size: 2rem;
  padding: 15px 0;
}

.highlighted {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}

.box ul {
  list-style-type: none;
}

.box ul li {
  margin: 12px 2px;
}

.plantable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 table {
  width: 100%;
  margin-bottom: 140px;
  margin-top: 20px;
}

.section3 table th {
  width: 23vw;
  border-bottom: 2px solid black;
  padding: 15px 0;
}

.section3 table td {
  border-bottom: 2px solid black;
}

.section3 h1 {
  font-size: clamp(2rem, 4vw, 4rem);
}

.section3 {
  padding: 73px 0;
}

footer {
  padding: 23px;
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.deal {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 12px 0;
}

.screen {
  min-height: 100vh;
}

.bg-red {
  background-color: red;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: black;
  
}
a:hover {
    background:rgb(223, 67, 67);
    color: white;
    padding:5px 8px 5px 8px ;
    border-radius: 3px;
 
    }

span {
  font-size: 20px;
  margin: auto 0;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.font-bold {
  font-weight: bolder;
  font-size: 2rem;
}

.my-1 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.my-2 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.px-2 {
  padding-left: 13px;
  padding-right: 13px;
}

.text-blue {
  color: rgb(227 74 56);
}

.btn {
  padding: 8px 13px;
  border: none;
  margin: 10px;
  border-radius: 6px;
  font-size: clamp(1.2rem, 2vw, 2.3rem);

  cursor: pointer;
  color: white;
  background-color: rgb(227 74 56);
}
.btn:hover {
  background-color: rgb(185, 54, 40);
}
.btn-t {
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  background-color: rgb(227 74 56);
}
.btn-t:hover {
  background-color: rgb(185, 54, 40);
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}
@media (max-width: 420px) {
  .flex {
    flex-direction: column;
  }
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav .font-bold {
    font-size: 1.2em;
  }
  nav li button {
    display: none;
  }
  .topright .gymimg {
    display: none;
  }
  a {
    font-size: 9px;
  }
  .dumbellimg {
    width: 70%;
  }
  nav span .font-bold {
    font-size: 1rem;
  }
  nav span .btn-t {
    font-size: 10px;
    padding: 5px 8px;
  }
}